{% extends "index.html" %}

{% block content %}
    <div class="post">
        <h1 class="post-title">Bouquet of Flowers</h1>

        <ul class="tag-cloud">
            {% for term in terms | sort(attribute="name") %}
            <li class="tag-list">
                <a href="{{ term.permalink | safe }}">
                    #{{ term.name }}
                    <span class="tag-count">({{ term.pages | length }})</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
