:root {
  --accent: rgb(255,168,106);
  --accent-alpha-70: rgba(255,168,106,.7);
  --accent-alpha-20: rgba(255,168,106,.2);

  --background: #222129;
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
  --light-color-secondary: rgba(255, 255, 255, 0.6);
  --shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}
