{% macro head(config, page=false) %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    {%- if page and page.description %}
        <meta name="description" content="{{ page.description | striptags | truncate(length=160) }}">
        <meta property="og:description" content="{{ page.description | striptags | truncate(length=160) }}">
    {%- elif config.description %}
        <meta name="description" content="{{ config.description }}">
        <meta property="og:description" content="{{ config.description }}">
    {% endif -%}

    {%- if page and page.title %}
        <meta property="og:title" content="{{ page.title }} — {{ config.title }}">
    {%- else %}
        <meta property="og:title" content="{{ config.title }}">
    {% endif -%}

    {%- if page and page.date %}
        <meta property="og:type" content="article">
    {%- else %}
        <meta property="og:type" content="website">
    {% endif -%}

    {%- if page %}
        <meta property="og:url" content="{{ page.permalink | safe }}">
    {%- else %}
        <meta property="og:url" content="{{ config.base_url | safe }}">
    {% endif -%}

    {%- if page and page.extra.image %}
        <meta property="og:image" content="{{ config.base_url ~ page.extra.image | safe }}">
    {% endif -%}

    {%- if page %}
        <link rel="canonical" href="{{ page.permalink | safe }}">
    {%- else %}
        <link rel="canonical" href="{{ config.base_url | safe }}">
    {% endif -%}

    <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false, cachebust=true) | safe }}">

{%- if config.extra.accent_color %}
    <link rel="stylesheet" href="{{ get_url(path="color/" ~ config.extra.accent_color ~ ".css", trailing_slash=false, cachebust=true) | safe }}">
{% else %}
    <link rel="stylesheet" href="{{ get_url(path="color/blue.css", trailing_slash=false, cachebust=true) | safe }}">
{% endif -%}

{%- if config.extra.background_color %}
    {%- if config.extra.accent_color and config.extra.background_color != config.extra.accent_color %}
        <link rel="stylesheet" href="{{ get_url(path="color/background_" ~ config.extra.background_color ~ ".css", trailing_slash=false, cachebust=true) | safe }}">
    {% endif -%}
{% endif -%}

{%- if config.extra.use_full_hack_font %}
    <link rel="stylesheet" href="{{ get_url(path="font-hack.css", trailing_slash=false, cachebust=true) | safe }}">
{% else %}
    <link rel="stylesheet" href="{{ get_url(path="font-hack-subset.css", trailing_slash=false, cachebust=true) | safe }}">
{% endif -%}

{% endmacro head %}
